section.about 
	.container 
		+blockBox({
			title: "About Us",
			para: "Divide have don't man wherein air fourth. Own itself make have night won't make. A you under Seed appear which good give. Own give air without fowl moveth dry first heaven fruit, dominion she'd won't very all."
			})
		.about-main 
			.about-list 
				ul.about-skill 
					span.about-caption Professional skills
					+itemAbout({
						name:"UI/UX Design",
						percent:"70%",
						percentClass:"about-item-line-percent-1"
						})
					+itemAbout({
						name:"Web Developer",
						percent:"80%",
						percentClass:"about-item-line-percent-2"
						})
					+itemAbout({
						name:"English",
						percent:"90%",
						percentClass:"about-item-line-percent-3"
						})
	img.about-images(src="../images/about-1.png")




			
