
section.footer 
    .container 
        .footer-content 
            .footer-item 
                .footer-title Piroll Design, Inc.
                .footer-desc © 2017 Piroll. All rights reserved.Designed by robirurk.
            .footer-item 
                .footer-text hello@pirolltheme.com
                .footer-phone +44 987 065 908
            .footer-item
                .footer-row 
                    .footer-column
                        a(href="#").footer-link Projects
                        a(href="#").footer-link About
                        a(href="#").footer-link Services
                        a(href="#").footer-link Carreer
                    .footer-column
                        a(href="#").footer-link News
                        a(href="#").footer-link Events
                        a(href="#").footer-link Contact
                        a(href="#").footer-link Legals
            .footer-item 
                .footer-column 
                    a(href="#").footer-link Facebook
                    a(href="#").footer-link Twitter
                    a(href="#").footer-link Instagram
                    a(href="#").footer-link Dribbble
