header.header
	.container 
		.header-top 
			a.header-logo(href="index.html") TN
			i.fa.fa-bars.header-toggle
			ul.header-menu 
				+menuLink({title: "Home"})
				+menuLink({title: "About"})
				+menuLink({title: "Work"})
				+menuLink({title: "Process"})
				+menuLink({title: "Services"})
				+menuLink({title: "Testimonials"})
				+menuLink({title: "Contact"})

		.header-content
			h1.header-content-caption We Design and Develop 
			p.header-content-main We are a new design studio based in USA. We have over 20 years of combined experience, and know a thing or two about designing websites and mobile apps.
			a.header-content-button(href="#") Contact us 