section.number 
    .container 
        .number-content
            +numberItem({
                num:"548",
                text:"projects completed",
                iconClass:"fa fa-briefcase"
                })
            +numberItem({
                num:"5783",
                text:"WORKING HOURS",
                iconClass:"fa fa-clock"
                })
            +numberItem({
                num:"188",
                text:"POSITIVE FEEDBACKS",
                iconClass:"fa fa-star"
                })
            +numberItem({
                num:"9048",
                text:"HAPPY CLIENTS",
                iconClass:"fa fa-heart"
                })