section.produce 
    .produce-list 
        .produce-column 
            +produceItem({src:"../images/produce-1.jpg"})
            +produceItem({src:"../images/produce-5.jpg"})
        .produce-column
            +produceItem({src:"../images/produce-6.jpg"})
            +produceItem({src:"../images/produce-2.jpg"})
        .produce-column
            +produceItem({src:"../images/produce-3.jpg"})
            +produceItem({src:"../images/produce-8.jpg"})
        .produce-column
            +produceItem({src:"../images/produce-7.jpg"})
            +produceItem({src:"../images/produce-4.jpg"})
    .produce-container 
        a(href="#").produce-para Load more work