section.service 
    .container 
        .service-list
            .service-column
                +serviceItem({
                    iconClass:"fa fa-address-book",
                    title: "ui / ux design",
                    desc: "Be set fourth land god darkness make it wherein own"
                })
                +serviceItem({
                    iconClass:"fa fa-envelope-open",
                    title: "ui / ux design",
                    desc: "Be set fourth land god darkness make it wherein own"
                })
            .service-column
                +serviceItem({
                    iconClass:"fa fa-user",
                    title: "ui / ux design",
                    desc: "Be set fourth land god darkness make it wherein own"
                })
                +serviceItem({
                    iconClass:"fa fa-bell",
                    title: "ui / ux design",
                    desc: "Be set fourth land god darkness make it wherein own"
                })
            .service-column
                +serviceItem({
                    iconClass:"fa fa-book",
                    title: "ui / ux design",
                    desc: "Be set fourth land god darkness make it wherein own"
                })
                +serviceItem({
                    iconClass:"fa fa-heart",
                    title: "ui / ux design",
                    desc: "Be set fourth land god darkness make it wherein own"
                })
            .service-column
                +serviceItem({
                    iconClass:"fa fa-clock",
                    title: "ui / ux design",
                    desc: "Be set fourth land god darkness make it wherein own"
                })
                +serviceItem({
                    iconClass:"fa fa-lock",
                    title: "ui / ux design",
                    desc: "Be set fourth land god darkness make it wherein own"
                })