.produce{
    &-list{
        height: 60rem;
        @include flexbox();
    }
    &-column{
        width: 25%;
    }
    &-image{
        @include size(100%);
        object-fit: cover
    }
    &-item{
        height: 50%;
    }
    
    &-icon{
        font-size: 5rem;
        margin-bottom: 1.5rem;
        cursor: pointer;
    }
    &-container{
        height: 10rem;
        background: $second-color;
        text-align: center;
        padding: 4rem;
    }
    &-para{
        font-family: $secondary-font;
        font-size: 12pt;
        text-transform: uppercase;
        color: #a6a6a6;
    }
    @include maxWidth(1279px){
        &-list{
            flex-wrap: wrap;
            height: auto;
        }
        &-column{
            width: 50%;
        }
        &-item{
            height: 42rem;
        }
        &-image{
            width: 100%;
            height: 100%;
        }
    }
    @include maxWidth(767px){
        
        &-column{
            width: 100%;
        }
        &-item{
            height: auto;
        }
    }
}
@include hoverEffect(".produce-item",".produce-content","false");